<launch>
	<node pkg="kinect_slam" type="landmark_node" name="landmark_node" output="screen"/>
	<node pkg="kinect_slam" type="control_node" name="control_node" output="screen"/>
	<node pkg="kinect_slam" type="slam_node" name="slam_node" output="screen"/>
	<node pkg="kinect_slam" type="mapserver_node" name="mapserver_node" output="screen"/>
	<node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/>
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find kinect_slam)/launch/test.rviz"/>
</launch>
